/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-dark.png);
  --background-color-body: #000028;
  --text-color: #f1b2ce;
  --color-hover-button: rgb(255, 0, 112, 0.5);
  --accent-color: #ff0070;
  --header-footer-color: #db00ff;
  --detales-color: #ff0070;
  --section-title-color: #ff0070;
  --title-color: #000028;

  .header_dark-decor {
    display: block;
  }
}
