/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000028;
}

/*--ШАПКА------------------------------------------------------------------------------------------------------------------------------*/

header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  padding: 10px;
}

.header::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border: 5px solid transparent;
  border-block-start: 1px solid var(--detales-color, #ff0070);
  border-inline-end: 1px solid var(--detales-color);
  width: 28px;
  height: 28px;
}

.header::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  border: 5px solid transparent;
  border-block-end: 1px solid var(--detales-color);
  border-inline-start: 1px solid var(--detales-color);
  width: 28px;
  height: 28px;
}

.header__theme-menu {
  grid-column: 2;
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.header__theme-menu-item {
  font-size: var(--font-size, 18px);
  font-family: var(--font-family, "IBM Plex mono"), serif;
  line-height: 100%;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--detales-color);
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--detales-color);
  border: none;
  padding: 3.2px 13px;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgb(255, 0, 112, 0.5);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  /* text-decoration: underline; */
  border-block-end: 1px solid var(--detales-color);
}

.header_dark-decor {
  color: var(--detales-color);
  font-size: var(--font-size);
  font-family: var(--font-family), serif;
  line-height: 138.9%;
  position: absolute;
  top: 10px;
  right: 38px;
}

.header_dark-decor::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--detales-color);
  position: absolute;
  top: 8px;
  right: -19px;
  box-shadow: 0 0 4px 3px var(--detales-color);
}

.header_subject {
  color: var(--header-footer-color, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: var(--font-family), serif;
  font-weight: var(--font-weight-bold, 700);
  line-height: 83%;
  grid-column: 1 / 3;
}

.header_title {
  grid-column: 1 / 3;
  align-self: center;
  color: var(--title-color, #000028);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family), serif;
  line-height: var(--line-height);
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
}

/*--АДАПТИВ-------------------------------------------------------------------------------------------------------------------------------------*/

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .header::after {
    top: 20px;
    right: 20px;
  }

  .header::before {
    bottom: 20px;
    left: 20px;
  }

  .header_dark-decor {
    top: 20px;
    right: 48px;
  }

  .header_title {
    grid-column: 2;
  }

  .header_subject {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }
}

/*---1024px----------------------------------------------------------------*/

@media (width >= 1024px) {
  .header__theme-menu {
    grid-column: 1 / 3;
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 11px;
  }

  .header_subject {
    font-size: clamp(9.8125rem, -8.6702rem + 25.266vw, 13.4375rem);
  }
}

/*--MAIN--------------------------------------------------------------------------------------------------------------------------------------------*/

.main {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section {
  font-family: var(--font-family), serif;
  font-size: var(--font-size);
  line-height: var(--line-height);
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section_title {
  font-size: var(--font-size);
  color: var(--section-title-color);
  font-weight: var(--font-weight-bold);
}

.section_card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card_title {
  color: var(--title-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
}

.title_new_weight {
  font-weight: var(--font-weight);
}

.card_text {
  color: var(--text-color);
  font-weight: var(--font-weight);
}

.card_link {
  text-shadow: 2.3px 2.4px 0 var(--accent-color);
  text-decoration: none;
}

.card_link:hover {
  border-bottom: 1px solid var(--text-color);
  /* text-decoration: underline; */
}

.card_link:focus {
  outline: none;
}

.card_link:focus-visible {
  outline: 1px solid var(--text-color);
}

/*--СЕКЦИЯ С КАРТИНКАМИ---------------------------------------------------------*/
.images {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  gap: 10px;
}

.images_title {
  color: var(--title-color);
  font-size: var(--font-size);
  font-family: var(--font-family), serif;
  font-weight: var(--font-weight-bold);
}

.images_img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/*--АДАПТИВ---------------------------------------------------------------------------------------------------------------------------------------------*/

@media (width >= 768px) {
  .main {
    padding: 60px 20px;
    gap: 79.7px;
  }

  .section {
    grid-template-columns: 30.77vw 1fr;
    grid-template-rows: repeat(auto, min-content);
  }

  .section_title {
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .concentration .section_card {
    grid-column: 2;
  }

  .fall_concentration .section_card {
    grid-column: 1 / 3;
  }

  .up_concentration .section_card {
    grid-column: 2;
  }

  .images {
    gap: 20px;
    grid-template-columns: repeat(3, 31.55%);
    grid-template-areas:
      "title title title"
      "sunset sunset icecream"
      "tape books icecream"
      "tape street street";
  }

  .images_img {
    align-self: stretch;
    justify-self: stretch;
    object-fit: cover;
    object-position: center;
  }

  .images_title {
    grid-area: title;
  }

  .sunset {
    grid-area: sunset;
  }

  .icecream {
    grid-area: icecream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }
}

/*---1024px-----------------------------------------------*/

@media (width >= 1024px) {
  .section {
    grid-template-columns: repeat(3, 32.02%);
  }

  .concentration .section_card {
    grid-column: 2 / 4;
  }

  .fall_concentration {
    grid-template-rows: min-content 1fr;
  }

  .fall_concentration .section_card {
    grid-column: auto;
    grid-row: 2 / 3;
  }

  .fall_concentration .section_title {
    grid-row: 1 / 2;
  }

  .up_concentration .section_card {
    grid-column: 2 / 4;
  }

  .advice {
    grid-column: 2 / 4;
  }

  .images {
    grid-template-columns: repeat(3, 32.02%);
  }
}

/*---ПОДВАЛ-----------------------------------------------------------------------------------------------------------------------------------------------*/

.footer {
  height: 100vh;
  min-height: 668px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.footer::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border: 5px solid transparent;
  border-block-start: 1px solid var(--detales-color);
  border-inline-end: 1px solid var(--detales-color);
  width: 27px;
  height: 28px;
}

.footer::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  border: 5px solid transparent;
  border-block-end: 1px solid var(--detales-color);
  border-inline-start: 1px solid var(--detales-color);
  width: 27px;
  height: 28px;
}

.footer_subject {
  color: var(--header-footer-color, #db00ff);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: var(--font-family), serif;
  font-weight: var(--font-weight-bold);
  line-height: 83%;
}

/* ----АДАПТИВ------------------------------------------------------------------------------ */

@media (width >= 768px) {
  .footer {
    padding: 20px;
  }

  .footer::after {
    top: 20px;
    right: 20px;
  }

  .footer::before {
    bottom: 20px;
    left: 20px;
  }

  .footer_subject {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* -1024PX-------------------------------------------- */

@media (width >= 1024px) {
  .footer_subject {
    font-size: clamp(9.8125rem, -8.6702rem + 25.266vw, 13.4375rem);
  }
}
