/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --section-title-color: #ff0070;
  --detales-color: #ff0070;
  --header-footer-color: #db00ff;
  --font-size: 18px;
  --font-family: "IBM Plex mono";
  --font-weight: 400;
  --font-weight-bold: 700;
  --line-height: 130%;
  --title-color: #000028;
}
